<_within file="application.html">

  <div id="content">
    <div id="form">
      <h1 id="header">Simulate typing in Dvorak</h1>
      <div class="input">
        <label id="name-input-label">
          <span>Enter some text</span>
          <textarea id="name-input"/>
        </label>
        <div id="name-input-error" class="small error">&nbsp;</div>
      </div>
      <div class="output">
        <label id="text-output-label">
          <span>Try typing this instead:</span>
          <textarea id="text-output"/>
        </label>
      </div>
      <input id="greet-button" class="button green" type="button" value="Done!">
    </div>
  </div>
  
</_within>
