<_within file="application.html">

  <div id="content">
    <div id="form">
      <h1 id="header">Simulate typing in Dvorak</h1>
      <div id="about">
        <p>
          This simulator allows a QWERTY touch typist to try out
          Dvorak.
        </p>
      </div>
      <div class="input">
        <label id="text-input-label">
          <span>Enter text to be converted:</span>
          <textarea id="text-input"/>
        </label>
      </div>
      <div class="output">
        <label id="text-output-label">
          <span>Type this Dvorak translation in the magical box:</span>
          <textarea id="text-output" disabled="disabled"/>
        </label>
      </div>
      <div class="dvorak-input">
        <label id="dvorak-input-label">
          <span>This is a magical text box:</span>
          <textarea id="text-dvorak-input"/>
        </label>
      </div>
    </div>
  </div>
  
</_within>
